/* default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    background: rgba(9, 43, 87);

    position: absolute;

    /* To center canvas on page */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    padding: 10px;
    text-decoration: none;
    margin: 1px;
    
}

#controls {
    position: absolute;
    padding: 10px;
    border: 2px solid white;
    margin: 10px;
    width: 10rem;
    background: rgba(0,0,0,60%);
}

.sliders {
    margin: 5px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    
}